body,
html {
  background: #A5B4BA;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.blind {
  display: none;

}


.contactBox-1 {
  background: #000;
  position: absolute;
  left: 0;
  border: none;
  height: 1px;
  top: 0;
  width: 141px;
  margin: 0;
  z-index: 1;
}

.contactBox-2 {
  background: #000;
  position: absolute;
  left: 0;
  border: none;
  height: 1px;
  top: 144px;
  width: 788px;
  margin: 0;
}

.contactBox-3 {
  background: #000;
  position: absolute;
  left: 128px;
  border: none;
  height: 1px;
  top: 13px;
  width: 27px;
  margin: 0;
  transform: rotate(90deg);
}

.contactBox-4 {
  background: #000;
  position: absolute;
  left: 128px;
  border: none;
  height: 1px;
  top: 131.4px;
  width: 27px;
  margin: 0;
  transform: rotate(90deg);
}

.contact-author-btn {
  font: 300 19px 'Josefin Sans', sans-serif;
  background: #C7A79B;
  position: relative;
  height: 144px;
  width: 140.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.donateBox-1 {
  background: #000;
  position: absolute;
  right: 0;
  border: none;
  height: 1px;
  top: 144px;
  width: 169px;
  margin: 0;
}

.donateBox-2 {
  background: #000;
  position: absolute;
  right: 57px;
  border: none;
  height: 1px;
  top: 84.5px;
  width: 169px;
  margin: 0;
  transform: rotate(90deg);
}

.donate-btn {
  font: 300 19px 'Josefin Sans', sans-serif;
  background: #E5DBCE;
  position: absolute;
  right: 0;
  height: 144px;
  width: 141px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
}

.shortStoryBox-1 {
  background: #000;
  position: absolute;
  left: 0;
  border: none;
  height: 1px;
  bottom: 360px;
  width: 141px;
  margin: 0;
}

.shortStoryBox-2 {
  background: #000;
  position: absolute;
  left: 130px;
  bottom: 349px;
  border: none;
  height: 1px;
  width: 23px;
  margin: 0;
  transform: rotate(90deg);
}

.shortStoryBox-3 {
  background: #000;
  position: absolute;
  left: 71px;
  bottom: 0;
  border: none;
  height: 1px;
  width: 141px;
  margin: 0;
  transform: rotate(90deg);
}

.selectStoryBox {
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 141px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.short-story-text {
  font: 300 30px 'Josefin Sans', sans-serif;
  position: absolute;
  text-align: center;
  transform: rotate(-90deg);
  margin: 0;
  width: 360px;
  height: 141px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.main-title {
  font: 100 125px 'Josefin Sans', sans-serif;
  position: relative;
  left: 151px;
}

.blurb {
  font: 100 30px 'Josefin Sans', sans-serif;
  position: absolute;
  right: 251px;
  top: 170px;
}


.bookBoxes {
  position: absolute;
  height: 360px;
  width: 100%;
  bottom: 0;
  left: 162px;
  display: flex;
  justify-content: space-evenly;
}

/*--------BOOK ONE--------*/

.bookBox-1 {
  position: absolute;
  width: 303px;
  height: 360px;
  left: 0;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.KennysGreatEscape-Pic {
  position: absolute;
  top: 48px;
}

.zero {
  font-size: 30px;
  font-weight: 300;
}

.number1 {
  font: 300 48px 'Josefin Sans', sans-serif;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 28px;
}

.KennysGreatEscape-text {
  font: 400 19px 'Josefin Sans', sans-serif;
  position: absolute;
  bottom: 60px;
  text-align: center;
}

.bookDescriptions-kinkyKenny,
.bookDescriptions-eatWhatYoureGiven {
  position: absolute;
  width: 1778px;
  height: 423px;
  top: 144px;
  left: 0;
  border: 1px solid black;
  display: none;
  
}

.bookDescription-1,
.bookDescription-2 {
  position: relative;
  height: inherit;
  width: inherit;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.kinkyKennyDescrip-title,
.eatWhatYoureGivenDescrip-title {
  position: absolute;
  top: 0;
  text-align: center;
  font: 500 48px 'Josefin Sans', sans-serif;

}

.kinkyKennyDescrip-text,
.eatWhatYoureGivenDescrip-text {
  position: absolute;
  font: 300 30px 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 0;

}

.readNowbutton {
  position: absolute;
  width: 600px;
  height: 75px;
  background-color: #000;
  bottom: 45px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 300 25px 'Josefin Sans', sans-serif;

}

/*--------BOOK TWO--------*/

.bookBox-2 {
  position: absolute;
  width: 303px;
  height: 360px;
  left: 315px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.eatWhatYoureGiven-Pic {
  position: absolute;
  top: 48px;
  z-index: 1;
}

.zero {
  font-size: 30px;
  font-weight: 300;
  z-index: 1;
}

.number2 {
  font: 300 48px 'Josefin Sans', sans-serif;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 28px;
  z-index: 1;
}

.eatWhatYoureGiven-text {
  font: 400 19px 'Josefin Sans', sans-serif;
  position: absolute;
  bottom: 60px;
  text-align: center;
  z-index: 1;
}

/*--------BOOK THREE--------*/

.bookBox-3 {
  position: absolute;
  width: 303px;
  height: 360px;
  left: 630px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.hesBeenThereForAnHour-Pic {
  position: absolute;
  top: 48px;
  z-index: 1;
}

.zero {
  font-size: 30px;
  font-weight: 300;
  z-index: 1;
}

.number3 {
  font: 300 48px 'Josefin Sans', sans-serif;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 28px;
  z-index: 1;
}

.hesBeenThereForAnHour-text {
  font: 400 19px 'Josefin Sans', sans-serif;
  position: absolute;
  bottom: 60px;
  text-align: center;
  z-index: 1;
}

/*--------BOOK FOUR--------*/

.bookBox-4 {
  position: absolute;
  width: 303px;
  height: 360px;
  right: 670px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.sorryGrandma-Pic {
  position: absolute;
  top: 48px;
  z-index: 1;
}

.zero {
  font-size: 30px;
  font-weight: 300;
  z-index: 1;
}

.number4 {
  font: 300 48px 'Josefin Sans', sans-serif;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 28px;
  z-index: 1;
}

.sorryGrandma-text {
  font: 400 19px 'Josefin Sans', sans-serif;
  position: absolute;
  bottom: 60px;
  text-align: center;
  z-index: 1;
}

/*--------BOOK FIVE--------*/

.bookBox-5 {
  position: absolute;
  width: 303px;
  height: 360px;
  right: 355px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.theNightWeDiscovered-Pic {
  position: absolute;
  top: 48px;
  z-index: 1;
}

.zero {
  font-size: 30px;
  font-weight: 300;
  z-index: 1;
}

.number5 {
  font: 300 48px 'Josefin Sans', sans-serif;
  position: absolute;
  margin: 0;
  top: 10px;
  left: 28px;
  z-index: 1;
}

.theNightWeDiscovered-text {
  font: 400 19px 'Josefin Sans', sans-serif;
  position: absolute;
  bottom: 60px;
  text-align: center;
  z-index: 1;
}

.dotBox {
  position: absolute;
  width: 50px;
  height: 10px;
  bottom: 45px;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  z-index: 1;
}

.dot1,
.dot2,
.dot3 {
  background: rgb(250, 233, 210);
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 100px;
  opacity: 1;
  transition: 2s;
  cursor: pointer;


}

.dot1 {
  left: 0;

}


.dot3 {
  right: 0;

}


.dotBox {
  transform: translateY(-5px);
}

/*--------HOVERS AND SUCH--------*/

.short-story-text:hover {
  color: #fff;
}

.contact-author-btn:hover {
  background: #E5DBCE;
}

.donate-btn:hover {
  background: #C7A79B;
}

.dot1:hover,
.dot2:hover,
.dot3:hover {
  opacity: 0.3;
}

.bookBox-1:hover,
.bookBox-2:hover,
.bookBox-3:hover,
.bookBox-4:hover,
.bookBox-5:hover {
  background: rgb(182, 198, 204);
  cursor: pointer;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);
}

.bookBox-1:active,
.bookBox-2:active,
.bookBox-3:active,
.bookBox-4:active,
.bookBox-5:active {
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

.readNowbutton:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028),
    0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042),
    0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);


}

.readNowbutton:active {
  box-shadow: none;
}


.bold-text {
  font-weight: 500;
}